.container__card {
  width: 15rem;
  word-wrap: break-word;
  z-index: 5;
}

.container__card p {
  font-size: 0.8rem;
}
.img__card {
  margin-top: 5px;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.marker__top {
  z-index: 100;
}
